.blogItemWrapper{
    display: flex;
    align-items: center;
    color:#e9ecef
}
.imageWrapper{
    height: 92px;
    width: 92px;
    flex-shrink: 0;
      position: relative;

}
.imageWrapper >*{
    object-fit: cover;
    border-radius: 16px;
}

.contentWrapper{
    margin-left: 16px;

}
.title{
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
     display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.content{
     margin-top: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}