.footerWrapper{
    color:#e9ecef;
    padding: 20px;
    text-align: center;
    font-size: 0.8rem;
}
.title{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color:#ff6b6b
}